---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <!--Visa Kampanası-->
        <!-- <div class="row service_details mb_50">
            <div class="col-lg-9 col-sm-6 d-flex align-items-center">
                <div class="service_details wow fadeInUp">

                    <h4 class="f_600 f_size_22 f_p t_color"><b>VİSA TİCARİ KART KAMPANYASI</b></h4>
                    <p class="f_600">31/12/2021 tarihine kadar geçerlidir.</p>
                    <p class="f_600">Visa ticari kart sahibiyseniz, şimdi Adisyo bulut tabanlı pos hizmetinden almanın tam zamanı. Adisyo bulut tabanlı pos hizmetinden, Visa ticari kart ile alacağınız her paket kadar, ücretsiz hediye paketi sahibi olabilirsiniz.</p>
                    <ul class="list-unstyled mb-30">

                        <li>
                            <i class="ti-check"></i> Kampanya https://www.adisyo.com/ üzerinden alınan online ödemeli işlemlerde geçerli olacaktır.
                        </li>

                        <li>
                            <i class="ti-check"></i> Kampanya Visa ticari kredi ve banka kartı ile işlem yapan müşteriler için geçerli olacaktır
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanya Visa Ticari Kart ile işlem yapan müşteriler için geçerli olacaktır
                        </li>
                        <li>
                            <i class="ti-check"></i> Belirtilen kampanyadan faydalanmak için üyelik işlemlerinin tamamlanması gerekmektedir.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanya diğer kampanyalarla birleştirilemez ve kazanılan hak devredilemez.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanyada genel  https://www.adisyo.com/ kullanım koşulları geçerlidir.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanya sadece ilk ödemede geçerlidir.
                        </li>
                        <li>
                            <i class="ti-check"></i> Bu kampanya ayrıcalığı paraya çevrilemez, başkasına devredilemez.
                        </li>
                        <li>
                            <i class="ti-check"></i> Bu kampanyanın düzenleyicisi Adisyo’dur.
                        </li>
                        <li>
                            <i class="ti-check"></i> Hizmetin verilmesi sırasında yaşanabilecek teknik ya da lojistik sorun ve aksaklılardan Visa ve iştirakleri sorumlu değildir.
                        </li>
                        <li>
                            <i class="ti-check"></i> Visa ve Adisyo mükerrer veya kötü niyetli katılımları eleme hakkına sahiptir. Visa kampanya boyunca, kampanya katılımlarını olumsuz yönde etkileyecek şekilde mobil ve/veya bilgisayar teknolojilerini ve/veya başka unsuları kullanarak hile yaptığı tespit edilen katılımcının o güne kadar olan bütün katılım verilerini ve kazandıkları indirimleri hiçbir uyarı yapmadan iptal etme hakkını saklı tutar.
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo ve Visa kampanya koşullarında değişiklik yapma ve istediği zaman kampanyayı sonlandırma hakkını saklı tutar. Böyle bir durumda yeni koşullar visa.com.tr sitesinde duyurulacaktır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanya 31.12.2021 tarihine kadar geçerlidir.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_details">
                    <img src="/assets/img/home/campains/visa.png" alt="BizimHesapKampanya">
                </div>
            </div>
        </div> -->

        <!--Bizim Hesap Kampanyası-->

        <div class="row service_details mb_50">
            <div class="col-lg-9 col-sm-6 d-flex align-items-center">
                <div class="service_details wow fadeInUp">

                    <h4 class="f_600 f_size_22 f_p t_color"><b>BİZİM HESAP KAMPANYASI</b></h4>
                    <p class="f_600">31/12/2021 tarihine kadar geçerlidir.</p>
                    <p class="f_600">Bizim Hesap ile ön muhasebe ve e-ticaret işlemlerinizi sadeleştirin, kolaylaştırın
                        ve hızlandırın. Üstelik yıllık Adisyo satın alımlarında, 185₺ değerindeki 3 aylık Bizim Hesap
                        kullanımı ücretsiz. Ayrıntılı bilgi için 0216 706 06 24 numaralı destek hattımızdan bize
                        ulaşabilirsiniz.</p>
                    <ul class="list-unstyled mb-30">

                        <li>
                            <i class="ti-check"></i> Kampanyadan faydalanabilmek için Adisyo’da yıllık satın alım yapılması gerekir.
                        </li>

                        <li>
                            <i class="ti-check"></i> Kampanya kapsamında ilk defa Bizim Hesap üyeliği oluşturacak kullanıcılara 3 ay ücretsiz kullanım tanımlanır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Mevcut Bizim Hesap üyeliği bulunan kullanıcılara mevcut sürelerine ek +3 ay süre tanımlanır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanya kapsamındaki ayrıcalığın tanınması Adisyo’nun
                            sorumluluğundadır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo ve Bizim Hesap dilediği zaman kampanya şartlarında değişiklik
                            yapma ve kampanyayı sona erdirme hakkına sahiptir.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_details">
                    <img src="/assets/img/home/campains/bhkampanya.png" alt="BizimHesapKampanya">
                </div>
            </div>
        </div>
    </div>
</section>