---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">
        <section class="pricing_area">
            <div class="container">
                <div class="price_content">
                    <div class="w-100">
                        <h2>
                            Planlar & <br /> Fiyatlandırma
                        </h2>

                        <span class="d-flex align-items-center mt-4 flex-wrap">
                            <input type="checkbox" id="switch" />
                            <label for="switch">3-6</label>
        
                            <span class="switch_text">3 ve 6 aylık paketleri göster</span>
                        </span>
                    </div>

                    <div class="price_item populer">
                        <div class="price_campaign_title">
                            <img src="/assets/img/kampanya-icon.png" />

                            <div class="title_text">
                                <span>%20</span>
                                <span>Kampanya</span>
                            </div>
                        </div>

                        <p class="populer_text">
                            Popüler
                        </p>

                        <b class="f_size_18">12 Aylık</b>

                        <div class="f_p f_size_38 f_600 t_color2 mb_10 price_content_value"
                            style="position: relative;margin-top:25px">
                            <span class="d-flex" style="position:absolute;top:-10px;left:23px">
                                <span class="price_content_value_icon f_size_20" style="margin-top: 0; font-size: 18px;
                                opacity: .6;
                                font-weight: 500;
                                text-decoration: line-through;">₺</span>
                                <span class="price_content_value_price" style="font-size: 18px;
                                opacity: .6;
                                font-weight: 500;
                                text-decoration: line-through;">104,00</span>
                            </span>

                            <span class="d-flex">
                                <span class="price_content_value_icon f_size_20">₺</span>
                                <span class="price_content_value_price">83</span>
                            </span>

                            <span class="d-flex flex-column align-items-start pl-1">
                                <span class="price_content_value_price_split">,00</span>

                                <span class="f_400 price_content_value_tax">
                                    + KDV / AY
                                </span>
                            </span>
                        </div>
                        <span style="font-size:12px;font-weight: bold;color: #7d8a7d;">Toplam ₺999.00 + KDV</span>
                        <a href="https://pos.adisyo.com/#/signup" target="_blank"
                            class="price_btn btn_hover price_btn_active">
                            Ücretsiz Dene
                        </a>

                        <p class="color-red text-center discount_text">%30 + %20 İndirimli</p>
                    </div>

                    <div class="price_item show_params">
                        <b class="f_size_18">6 Aylık</b>

                        <div class="f_p f_size_38 f_600 t_color2 mb_10 price_content_value">
                            <span class="d-flex">
                                <span class="price_content_value_icon f_size_20">₺</span>
                                <span class="price_content_value_price">133</span>
                            </span>

                            <span class="d-flex flex-column align-items-start pl-1">
                                <span class="price_content_value_price_split">,00</span>

                                <span class="f_400 price_content_value_tax">
                                    + KDV / AY
                                </span>
                            </span>
                        </div>

                        <a href="https://pos.adisyo.com/#/signup" target="_blank" class="price_btn btn_hover">
                            Ücretsiz Dene
                        </a>
                        <p class="color-red text-center discount_text">%10 İndirimli</p>
                    </div>

                    <div class="price_item show_params">
                        <b class="f_size_18">3 Aylık</b>

                        <div class="f_p f_size_38 f_600 t_color2 mb_10 price_content_value">
                            <span class="d-flex">
                                <span class="price_content_value_icon f_size_20">₺</span>
                                <span class="price_content_value_price">139</span>
                            </span>

                            <span class="d-flex flex-column align-items-start pl-1">
                                <span class="price_content_value_price_split">,00</span>

                                <span class="f_400 price_content_value_tax">
                                    + KDV / AY
                                </span>
                            </span>
                        </div>

                        <a href="https://pos.adisyo.com/#/signup" target="_blank" class="price_btn btn_hover">
                            Ücretsiz Dene
                        </a>
                        <p class="color-red text-center discount_text">%5 İndirimli</p>
                    </div>

                    <div class="price_item">
                        <b class="f_size_18">Aylık</b>

                        <div class="f_p f_size_38 f_600 t_color2 mb_10 price_content_value">
                            <span class="d-flex">
                                <span class="price_content_value_icon f_size_20">₺</span>
                                <span class="price_content_value_price">149</span>
                            </span>

                            <span class="d-flex flex-column align-items-start pl-1">
                                <span class="price_content_value_price_split">,00</span>

                                <span class="f_400  price_content_value_tax">
                                    + KDV / AY
                                </span>
                            </span>
                        </div>

                        <a href="https://pos.adisyo.com/#/signup" target="_blank" class="price_btn btn_hover">
                            Ücretsiz Dene
                        </a>
                        <p class="color-red text-center discount_text">15 Gün Ücretsiz</p>
                    </div>
                </div>

                <p class="font-weight-bold">Temel Özellikler</p>

                <div class="package_features mb-5">
                    <div class="package_feature_item">
                        <p class="w-100 m-0">Sınırsız Kullanıcı, Tek Fiyat</p>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>

                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                    </div>

                    <div class="package_feature_item">
                        <p class="w-100 m-0">İstediğiniz Cihazdan Kullanım</p>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                    </div>

                    <div class="package_feature_item">
                        <p class="w-100 m-0">Hızlı ve Kullanımı Kolay</p>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                    </div>

                    <div class="package_feature_item">
                        <p class="w-100 m-0">Tükenen veya Kritik Stoklar İçin Uyarı Sistemi</p>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                    </div>

                    <div class="package_feature_item">
                        <p class="w-100 m-0">Mobil Uygulamalar (iOS & Android)</p>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                    </div>

                    <div class="package_feature_item border-0">
                        <p class="w-100 m-0">Detaylı ve Kolay Anlaşılır, Anlık Raporlama</p>

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span class="show_params">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>


            <!-- ########## MOBILE ########## -->

            <div class="container mobile_prices">
                <h3 class="text-center mb-5">
                    Planlar & Fiyatlandırma
                </h3>

                <div class="tabs" style="min-height: 585px;">
                    <div class="tab">
                        <input type="radio" id="tab-1" name="tab-group-1" checked>
                        <label for="tab-1" class="m-0">12 Aylık</label>
                        <div class="content package_features">
                            <div class="mb-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="price_campaign_title mr-4">
                                        <img src="/assets/img/kampanya-icon.png" />

                                        <div class="title_text">
                                            <span>%20</span>
                                            <span>Kampanya</span>
                                        </div>
                                    </div>

                                    <div>
                                        <p class="color-red mb-4">%30 + %20 İndirimli</p>

                                        <span class="d-flex flex-wrap" style="position: relative;">
                                            <span class="f_size_38 f_600" style="position: absolute;
                                            font-size: 16px;
                                            opacity: .6;
                                            text-decoration: line-through;
                                            top: -28px;left:4px">₺104,00</span>
                                            <span class="f_size_38 f_600">₺83,00</span>
                                            <span class="ml-2">+ KDV / AY</span>
                                        </span>
                                    </div>
                                </div>

                                <span style="font-size:12px;font-weight: bold;color: #7d8a7d;">Toplam ₺999.00 + KDV</span>
                                <a href="https://pos.adisyo.com/#/signup" target="_blank"
                                    class="price_btn btn_hover price_btn_active">
                                    Ücretsiz Dene
                                </a>
                            </div>
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Sınırsız Kullanıcı, Tek Fiyat</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="package_feature_item">
                                <p class="w-100 m-0">İstediğiniz Cihazdan Kullanım</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Hızlı ve Kullanımı Kolay</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Detaylı ve Kolay Anlaşılır, Anlık Raporlama</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Tükenen veya Kritik Stoklar İçin Uyarı Sistemi</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Mobil Uygulamalar (iOS & Android)</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" id="tab-2" name="tab-group-1">
                        <label for="tab-2">6 Aylık</label>
                        <div class="content package_features">
                            <div class="mb-4 d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="color-red m-0">%10 İndirimli</p>
        
                                    <span class="d-flex flex-wrap">
                                        <span class="f_size_38 f_600">₺133,00</span>
                                        <span class="ml-2">+ KDV / AY</span>
                                    </span>
                                </div>
                                <span style="font-size:12px;font-weight: bold;color: #7d8a7d;">Toplam ₺799.00 + KDV</span>
                                <a href="https://pos.adisyo.com/#/signup" target="_blank"
                                    class="price_btn btn_hover price_btn_active">
                                    Ücretsiz Dene
                                </a>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Sınırsız Kullanıcı, Tek Fiyat</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">İstediğiniz Cihaz İle Kullanın</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Hızlı ve Kullanımı Kolay</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Detaylı ve Kolay Anlaşılır, Anlık Raporlama</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Tükenen veya Kritik Stoklar İçin Uyarı Sistemi</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Mobil Uygulamalar (iOS & Android)</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" id="tab-3" name="tab-group-1">
                        <label for="tab-3">3 Aylık</label>
                        <div class="content package_features">
                            <div class="mb-4 d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="color-red m-0">%5 İndirimli</p>
        
                                    <span class="d-flex flex-wrap">
                                        <span class="f_size_38 f_600">₺139,00</span>
                                        <span class="ml-2">+ KDV / AY</span>
                                    </span>
                                </div>
                                <span style="font-size:12px;font-weight: bold;color: #7d8a7d;">Toplam ₺419.00 + KDV</span>
                                <a href="https://pos.adisyo.com/#/signup" target="_blank"
                                    class="price_btn btn_hover price_btn_active">
                                    Ücretsiz Dene
                                </a>
                            </div>
        
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Sınırsız Kullanıcı, Tek Fiyat</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">İstediğiniz Cihaz İle Kullanın</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Hızlı ve Kullanımı Kolay</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Detaylı ve Kolay Anlaşılır, Anlık Raporlama</p>
        
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Tükenen veya Kritik Stoklar İçin Uyarı Sistemi</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
        
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Mobil Uygulamalar (iOS & Android)</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                        fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" id="tab-4" name="tab-group-1">
                        <label for="tab-4">Aylık</label>
                        <div class="content package_features">
                            <div class="mb-4 d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="color-red m-0">15 Gün Ücretsiz</p>

                                    <span class="d-flex flex-wrap">
                                        <span class="f_size_38 f_600">₺149,00</span>
                                        <span class="ml-2">+ KDV / AY</span>
                                    </span>
                                </div>

                                <a href="https://pos.adisyo.com/#/signup" target="_blank"
                                    class="price_btn btn_hover price_btn_active">
                                    Ücretsiz Dene
                                </a>
                            </div>
                            <div class="package_feature_item">
                                <p class="w-100 m-0">Sınırsız Kullanıcı, Tek Fiyat</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="package_feature_item">
                                <p class="w-100 m-0">İstediğiniz Cihazdan Kullanım</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Hızlı ve Kullanımı Kolay</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Detaylı ve Kolay Anlaşılır, Anlık Raporlama</p>

                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Tükenen veya Kritik Stoklar İçin Uyarı Sistemi</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="package_feature_item">
                                <p class="w-100 m-0">Mobil Uygulamalar (iOS & Android)</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                        width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kampanya Koşulları -->

            <div class="container">
                <div class="service_details wow fadeInUp" style="margin-top: 100px;">
                    <h6 class="mb-30 font-weight-bold">Kampanya Koşulları</h6>

                    <ul class="list-unstyled mb-30">
                        <li> <i class="ti-check"></i>
                            Kampanya ile halihazırda yıllık pakette var olan %30 indirime ek %20
                            indirim kazanılır.
                        </li>
                        <li> <i class="ti-check"></i>
                            Kampanyadan sadece 1 Ekim - 1 Kasım tarihleri arasındaki yeni üyeler,
                            yıllık paket satın alımları için yararlanabilir.
                        </li>
                        <li> <i class="ti-check"></i>
                            Kampanya 1 Ekim - 1 Kasım 2022 tarihleri arasında geçerlidir.
                        </li>
                        <li> <i class="ti-check"></i>
                            Yukarıda yazılı fiyatlar KDV hariçtir.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</section>