---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <div class="row service_details mb_50">
            <div class="col-lg-9 col-sm-6 d-flex align-items-center">
                <div class="service_details wow fadeInUp">

                    <h4 class="f_600 f_size_22 f_p t_color"><b>BİZİM HESAP KAMPANYASI</b></h4>
                    <p class="f_600">31/12/2021 tarihine kadar geçerlidir.</p>
                    <p class="f_600">Bizim Hesap ile ön muhasebe ve e-ticaret işlemlerinizi sadeleştirin, kolaylaştırın
                        ve hızlandırın. Üstelik yıllık Adisyo satın alımlarında, 185₺ değerindeki 3 aylık Bizim Hesap
                        kullanımı ücretsiz. Ayrıntılı bilgi için 0216 706 06 24 numaralı destek hattımızdan bize
                        ulaşabilirsiniz.</p>
                    <ul class="list-unstyled mb-30">

                        <li>
                            <i class="ti-check"></i> Kampanyadan faydalanabilmek için Adisyo’da yıllık satın alım yapılması gerekir.
                        </li>

                        <li>
                            <i class="ti-check"></i> Kampanya kapsamında ilk defa Bizim Hesap üyeliği oluşturacak kullanıcılara 3 ay ücretsiz kullanım tanımlanır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Mevcut Bizim Hesap üyeliği bulunan kullanıcılara mevcut sürelerine ek +3 ay süre tanımlanır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kampanya kapsamındaki ayrıcalığın tanınması Adisyo’nun
                            sorumluluğundadır.
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo ve Bizim Hesap dilediği zaman kampanya şartlarında değişiklik
                            yapma ve kampanyayı sona erdirme hakkına sahiptir.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_details">
                    <img src="/assets/img/home/campains/bhkampanya.png" alt="BizimHesapKampanya">
                </div>
            </div>
        </div>
    </div>
</section>