<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Adisyo API</title>

    <style>
        .highlight .span1 {
            color: #ec7263;
        }

        .highlight .spaninteger {
            color: #f70776;
        }

        .highlight .span3 {
            color: #a8e6cf;
        }
    </style>
    <link href="/assets/css/main.css" rel="stylesheet" media="screen" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />
    <script src="/assets/js/functions.en.js"></script>
</head>

<body class="index" data-languages="[&quot;shell&quot;]">
    <a href="#" id="nav-button">
        <span>
            NAV
        </span>
    </a>
    <div class="doc-wrapper">
        <a href="/tr/"><i class="flag flag-tr" style="margin: 5px 5px;"></i>Türkçe</a>
        <img src="/assets/img/api-img/adisyo.png" class="logo" alt="Adisyo" />
        <div class="shell">
            <a href="#" data-language-name="shell">shell</a>
        </div>
        <div class="search">
            <input type="text" class="search" id="input-search" placeholder="Search"><span><i
                    class="fa fa-search"></i></span>


        </div>
        <ul class="searchResults"></ul>
        <div id="doc" class="doc-list-h1">

            <li>
                <a href="#gettingStarted" class="doc-h1 doc-link" data-title="Web & Mobile Integration">Web & Mobile
                    Integration</a>
                <ul class="doc-list-h2">
                    <li>
                        <a href="#gettingStarted" class="doc-h1 doc-link" data-title="Getting Started">Getting
                            Started</a>
                    </li>
                    <li>
                        <a href="#apiKey-and-secretKey" class="doc-h1 doc-link" data-title="Api Key and Secret Key">Api
                            Key and
                            Secret Key</a>
                    </li>
                    <li>
                        <a href="#getExternalProducts" class="doc-h1 doc-link" data-title="View the Product List">View
                            the Product List
                        </a>
                    </li>
                    <li>
                        <a href="#orderObject" class="doc-h1 doc-link" data-title="Creating an Order Object">Creating an
                            Order Object
                        </a>
                    </li>
                    <li>
                        <a href="#setPaymentMethod" class="doc-h1 doc-link"
                            data-title="Determining the Pay Method">Determining the Pay Method
                        </a>
                    </li>
                    <li>
                        <a href="#postOrder" class="doc-h1 doc-link" data-title="Sending the Prepared Request">Sending
                            the Prepared Request
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#hemenYolda" class="doc-h1 doc-link" data-title="Hemen Yolda">Hemen Yolda</a>
                <ul class="doc-list-h2">
                    <li>
                        <a href="#hemenYolda" class="doc-h1 doc-link" data-title="View Open Orders">View Open Orders
                        </a>
                    </li>
                </ul>
            </li>

        </div>

    </div>
    <div class="page-content">
        <div class="shell-box"></div>
        <div class="content">
            <h1 id='gettingStarted'>Getting Started</h1>
            <h2>Overview</h2>
            <p>If you want your restaurant registered in the Adisyo Cafe Restaurant application, you can log in to the
                order with the corresponding endpoint and several configurations. You can enter your first order
                immediately with a few simple steps mentioned below;</p>
            <p>1- The list of products contained in the relevant restaurant's Adisyo application with x-api-key and
                x-api-secret information <span
                    style="color:green; font-weight:bold">’https://ext.adisyo.com/api/external/GetExternalProducts’</span>
                withdraw from the address. A request must be sent using the GET method.</p>
            <p>2- Adding the <span style="color:orangered; font-weight:bold">‘x-api-key’ and
                    ‘x-api-secret’</span> information received from the Adisyo application to the corresponding http
                request header.</p>
            <p>3- Creating the order object (JSON).</p>
            <p>4- With x-api-key and x-api-secret information received from the order object and Adisyo authorities
                <span
                    style="color:green; font-weight:bold;">’https://ext.adisyo.com/api/external/SaveExternalOrder’</span>
                a request can be sent to the address. The <span
                    style="color:green; font-weight:bold; text-decoration: underline">POST</span>
                method should be used.
            </p>

            <h1 id='apiKey-and-secretKey'>Retrieving Api Key and Secret Key Information</h1>
            <p>The x-api-key and x-api-secret information shared by the adisio authorities for each restaurant to be
                integrated are provided. This information must be located in the header field of the Http request to be
                sent and must be in the specified format, otherwise the operation will not occur. please contact adisyo
                for x-api-key and x-api-secret information.</p>

            <h1 id='getExternalProducts'>View the Product List</h1>
            <p>The product list in the relevant restaurant's adisyo application is provided with x-api-key and
                x-api-secret information <span
                    style="color:green; font-weight:bold">’https://ext.adisyo.com/api/external/GetExternalProducts’</span>
                withdraw from the address. A request must be sent using the GET method.</p>

            <blockquote>
                <p>Example Request </p>
            </blockquote>
            <pre class="highlight shell "><code>curl https://ext.adisyo.com/api/external/GetExternalProducts
</code></pre>
            <blockquote>
                <p>Example Response</p>
            </blockquote>
            <pre class="highlight json "><code><span class="p">{</span>
    <span>"<span class="span1">productName</span>": "<span class="span3">Hamburger</span>"</span>
    <span>"<span class="span1">productCode</span>": <span class="span3">null</span>,</span>
    <span>"<span class="span1">features</span>": [</span>
    <span>    <span>{</span></span>
    <span>    <span>    "<span class="span1">featureName</span>": "</span><span class="span3">Ekstra Peynir</span>",</span>
    <span>    <span>    "<span class="span1">featureId</span>": </span><span class="spaninteger">968348</span>,</span>
    <span>    <span>    "<span class="span1">featureCode</span>": </span><span class="span3">null</span>,</span>
    <span>    <span>    "<span class="span1">productId</span>": </span><span class="spaninteger">2267678</span>,</span>
    <span>    <span>    "<span class="span1">additionalPrice</span>": </span><span class="spaninteger">3.00</span>",</span>
    <span>    <span>    "<span class="span1">featureHeaderName</span>": "</span><span class="span3">Hamburger İçerik</span>",</span>
    <span>    <span>},</span></span>
    <span>    <span>{</span></span>
    <span>    <span>    "<span class="span1">featureName</span>": "</span><span class="span3">Ekstra Köfte</span>",</span>
    <span>    <span>    "<span class="span1">featureId</span>": </span><span class="spaninteger">968351</span>,</span>
    <span>    <span>    "<span class="span1">featureCode</span>": </span><span class="span3">null</span>,</span>
    <span>    <span>    "<span class="span1">productId</span>": </span><span class="spaninteger">2267678</span>,</span>
    <span>    <span>    "<span class="span1">additionalPrice</span>": </span><span class="spaninteger">6.00</span>",</span>
    <span>    <span>    "<span class="span1">featureHeaderName</span>": "</span><span class="span3">Hamburger İçerik</span>",</span>
    <span>    <span>},</span></span>
    <span>    <span>{</span></span>
    <span>    <span>    "<span class="span1">featureName</span>": "</span><span class="span3">Mantar</span>",</span>
    <span>    <span>    "<span class="span1">featureId</span>": </span><span class="spaninteger">968359</span>,</span>
    <span>    <span>    "<span class="span1">featureCode</span>": </span><span class="span3">null</span>,</span>
    <span>    <span>    "<span class="span1">productId</span>": </span><span class="spaninteger">2267678</span>,</span>
    <span>    <span>    "<span class="span1">additionalPrice</span>": </span><span class="spaninteger">3.00</span>",</span>
    <span>    <span>    "<span class="span1">featureHeaderName</span>": "</span><span class="span3">Hamburger İçerik</span>",</span>
    <span>    <span>},</span></span>
    <span><span class="span1">           </span> ],</span>
    <span>"<span class="span1">productUnits</span>": [</span>
    <span>    <span>{</span></span>
    <span>    <span>    "<span class="span1">unitName</span>": "</span><span class="span3">Tam</span>",</span>
    <span>    <span>    "<span class="span1">price</span>": </span><span class="spaninteger">12.00</span>,</span>
    <span>    <span>    "<span class="span1">productUnitId</span>": </span><span class="spaninteger">2408389</span>,</span>
    <span>    <span>},</span></span>
    <span><span class="span1">           </span> ],</span>
    <span>"<span class="span1">menus</span>": [</span>
    <span>    <span>{</span></span>
    <span>    <span>    "<span class="span1">menuName</span>": "</span><span class="span3">Büyük Boy Menü( 1lt İçecek)</span>",</span>
    <span class="span1"><span>        "</span>subProducts</span>": [
    <span><span>            {</span></span>
    <span><span>                "</span><span class="span1">productName</span>": "<span class="span3">Su</span>",</span>
    <span><span>                "</span><span class="span1">productCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productUnitId</span>": <span class="spaninteger">2408366</span></span>
    <span><span>            },</span></span>
    <span><span>            {</span></span>
    <span><span>                "</span><span class="span1">productName</span>": "<span class="span3">Ayran</span>",</span>
    <span><span>                "</span><span class="span1">productCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productUnitId</span>": <span class="spaninteger">2408367</span></span>
    <span><span>            },</span></span>
    <span><span>            {</span></span>
    <span><span>                "</span><span class="span1">productName</span>": "<span class="span3">Coca Cola</span>",</span>
    <span><span>                "</span><span class="span1">productCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productUnitId</span>": <span class="spaninteger">2408368</span></span>
    <span><span>            },</span></span>   <span><span>            {</span></span>
    <span><span>                "</span><span class="span1">productName</span>": "<span class="span3">Soda</span>",</span>
    <span><span>                "</span><span class="span1">productCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productUnitId</span>": <span class="spaninteger">2408369</span></span>
    <span><span>            },</span></span>   <span><span>            {</span></span>
    <span><span>                "</span><span class="span1">productName</span>": "<span class="span3">Ice Tea</span>",</span>
    <span><span>                "</span><span class="span1">productCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productUnitId</span>": <span class="spaninteger">2408370</span></span>
    <span><span>            },</span></span>
    <span class="span1"><span>       </span></span>  ]
    <span>      <span>}</span></span>
    <span>  <span></span>],</span>
    <span>"<span class="span1">excludedFeatures</span>": [</span>
    <span>    <span>{</span></span>
    <span><span>                "</span><span class="span1">featureName</span>": "<span class="span3">Tiramisu</span>",</span>
    <span><span>                "</span><span class="span1">featureId</span>": <span class="spaninteger">2408376</span>,</span>
    <span><span>                "</span><span class="span1">featureCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productId</span>": <span class="spaninteger">2267678</span></span>
    <span><span>            }</span></span><span>
    <span>    {</span></span>
    <span><span>                "</span><span class="span1">featureName</span>": "<span class="span3">Türk Kahvesi</span>",</span>
    <span><span>                "</span><span class="span1">featureId</span>": <span class="spaninteger">2408362</span>,</span>
    <span><span>                "</span><span class="span1">featureCode</span>": <span class="span3">null</span>,</span>
    <span><span>                "</span><span class="span1">productId</span>": <span class="spaninteger">2267678</span></span>
    <span><span>     }</span></span>
    <span class="span1"><span></span></span>  ]
<span class="p">}</span>
</code>

</pre>
            <h3>Endpoint</h3>
            <p>GET /api/external/GetExternalProducts</p>
            <h3>Required Parameters</h3>
            <ul>
                <li> <code>x-api-key</code> - The API key for your account</li>
                <li> <code>x-api-secret</code> - The API Secret key for your account</li>

            </ul>
            <h1 id='orderObject'>Creating an Order Object</h1>

            <blockquote>
                <p>An Example Order Object</p>
            </blockquote>
            <pre class="highlight json ">
            <code>
<span>{</span>
    <span>"<span class="span1">CustomerName</span>": "<span class="span3">Christian</span>",</span>
    <span>"<span class="span1">CustomerSurname</span>": "<span class="span3">Luyindama</span>",</span>
    <span>"<span class="span1">CustomerId</span>": "<span class="spaninteger">44545</span>",</span>
    <span>"<span class="span1">CustomerPhone</span>": "<span class="spaninteger">5554443444</span>",</span>
    <span>"<span class="span1">CustomerPhone2</span>": "<span class="spaninteger">5554443441</span>",</span>
    <span>"<span class="span1">Address</span>": "<span class="span3">adres bilgisi...</span>",</span>
    <span>"<span class="span1">AddressDescription</span>": "<span class="span3">adres tarif</span>",</span>
    <span>"<span class="span1">Region</span>": "<span class="span3">Ataşehir</span>",</span>
    <span>"<span class="span1">City</span>": "<span class="span3">İstanbul</span>",</span>
    <span>"<span class="span1">PaymentMethodId</span>": "<span class="spaninteger">3</span>",</span>
    <span>"<span class="span1">PaymentNote</span>": "<span class="span3">temassız çalışmıyorr</span>",</span>
    <span>"<span class="span1">Discount</span>": "<span class="spaninteger">20</span>",</span>
    <span>"<span class="span1">OrderNote</span>": "<span class="span3">ıslak mendil getirin</span>",</span>
    <span>"<span class="span1">WebOrderId</span>": "<span class="spaninteger">746364</span>",</span>
    <span>"<span class="span1">OrderTotal</span>": "<span class="spaninteger">20.00</span>",</span>
    <span>"<span class="span1">OrderDetails</span>":
    <span>      [</span>
    <span>          {</span>
    <span>          "<span class="span1">Quantity</span>": <span class="spaninteger">4</span>,</span>
    <span>          "<span class="span1">ProductUnitId</span>": <span class="spaninteger">43455</span>,</span>
    <span>          "<span class="span1">OrderDetailNote</span>": "<span class="span1">çıtır olsun</span>",</span>
    <span>          "<span class="span1">Features</span>":
    <span>              [</span>
    <span>                 {</span>
    <span>                  "<span class="span1">Name</span>": "<span class="span3">Soğansız</span>",</span>
    <span>                  "<span class="span1">FeatureId</span>": "<span class="spaninteger">322343</span>"</span>
    <span>                 <span>}</span><span class="span1"> ,{...},{...}</span>
    <span>              ],</span>
    <span>          "<span class="span1">IsMenu</span>": "<span class="span1">true/false</span>",</span>
    <span>          "<span class="span1">MenuId</span>": "<span class="spaninteger">1</span>",</span>
    <span>          "<span class="span1">ParentId</span>": "<span class="spaninteger">1</span>"</span>
    <span>        }</span>
    <span>      ]</span>
<span>}</span>
            </code></pre>
            <p>The order object must be in JSON format. The order contains basic information, the products included in
                the order, and some information about these products. Each parameter is described separately below;</p>

            <ul>
                <li> <code>CustomerName</code> - The name of the user who placed the order</li>
                <li> <code>CustomerSurname</code> - Last name of the user who placed the order</li>
                <li> <code>CustomerId</code> - The ID of the user registered in your own system, if not, leave it blank
                </li>
                <li> <code>CustomerPhone</code> - The phone number of the user who placed the order</li>
                <li> <code>CustomerPhone2</code> - The second phone number of the user who placed the order</li>
                <li> <code>Address</code> - The address of the user who placed the order</li>
                <li> <code>AddressDescription</code> - Address description of the user who placed the order</li>
                <li> <code>Region</code> - District-by-district information of the ordering user</li>
                <li> <code>City</code> - City information of the ordering user</li>
                <li> <code>PaymentMethodId</code> - Pay type information, pay types list are below</li>
                <li> <code>PaymentNote</code> - Pay note</li>
                <li> <code>Discount</code> - The total amount of discounts on the order</li>
                <li> <code>OrderNote</code> - Order note</li>
                <li> <code>WebOrderId</code> - The order ID in your own system</li>
                <li> <code>OrderTotal</code> - The Total Amount Of The Order</li>

            </ul>

            <h1 id='setPaymentMethod'>Determining the Pay Method</h1>

            <p>This is how the order object is made ready. The options that may appear in the Pay type field should
                again be filled in with one of the values used in the adisio system. The pay type list is as follows;
            </p>

            <br>
            <ul>
                <li> <code>Cash</code> : 1</li>
                <li> <code>Credit Card</code> : 2</li>
                <li> <code>Multinet</code> : 3</li>
                <li> <code>SmartTicket</code> : 4</li>
                <li> <code>Setcard</code> : 5</li>
                <li> <code>Sodexo</code> : 6</li>
                <li> <code>Other</code> : 7</li>
                <li> <code>Basit Otel</code> : 22</li>
                <li> <code>BizimHesap</code> : 24</li>
                <li> <code>Metropol</code> : 26</li>
                <li> <code>Açık Hesap</code> : 27</li>
                <li> <code>HMS Otel</code> : 28</li>
                <li> <code>YS Online</code> : 29</li>
                <li> <code>Glovo</code> : 30</li>
                <li> <code>Cüzdan</code> : 31</li>
                <li> <code>Getir</code> : 33</li>
                <li> <code>Sedna</code> : 34</li>
                <li> <code>Sodexo Online</code> : 41</li>
                <li> <code>Paye</code> : 52</li>
                <li> <code>Web Online</code> : 53</li>
                <li> <code>Chippin</code> : 63</li>
                <li> <code>Zomato</code> : 65</li>
                <li> <code>Maximum Mobile</code> : 88</li>
                <li> <code>Paycell</code> : 89</li>
                <li> <code>Trendyol</code> : 90</li>
                <li> <code>Sodexo Pass Mobil</code> : 91</li>
                <li> <code>FastPay</code> : 92</li>
                <li> <code>Fuudy</code> : 93</li>
                <li> <code>Sodexo Cep Pos</code> : 97</li>
                <li> <code>CIO Kart</code> : 98</li>
            </ul>
            <h1 id='postOrder'>Sending the Prepared Request</h1>
            <blockquote>
                <p>Example Request</p>
            </blockquote>
            <pre class="highlight shell"><code>curl -X POST https://ext.adisyo.com/api/external/SaveExternalOrder
                </code></pre>
            <blockquote>
                <p>Example Success Response </p>
            </blockquote>
            <pre class="highlight json ">
                <code>
<span>{</span>
    "<span class="span1">orderId</span>": <span class="spaninteger">66297940</span>,
    "<span class="span1">orderTotal</span>": <span class="spaninteger">20.00</span>,
    "<span class="span1">discount</span>": <span class="spaninteger">-4.00</span>,
    "<span class="span1">insertedDate</span>": "<span class="span3">2022-06-12T19:33:12.033</span>",
    "<span class="span1">errorMessage</span>": <span class="span3">null</span>,
    "<span class="span1">status</span>": <span class="spaninteger">1</span>
<span>}</span>
                </code></pre>
            <blockquote>
                <p>Example Fail Response </p>
            </blockquote>
            <pre class="highlight json ">
                    <code>
<span>{</span>
    "<span class="span1">orderId</span>": <span class="spaninteger">0</span>,
    "<span class="span1">orderTotal</span>": <span class="spaninteger">0.0</span>,
    "<span class="span1">discount</span>": <span class="spaninteger">0.0</span>,
    "<span class="span1">insertedDate</span>": "<span class="span3">0001-01-01T00:00:00</span>",
    "<span class="span1">errorMessage</span>": "<span class="span3">Sipariş kaydedilirken bir hata oluştu, lütfen tekrar deneyin veya Adisyo destek ile iletişime
     geçiniz.</span>",
    "<span class="span1">status</span>": <span class="spaninteger">0</span>
<span>}</span>
                    </code></pre>
            <p>In the header field of the http request, the x-api-key and x-api-secret information of the relevant
                restaurant are entered, and the order object is prepared in the same way as in the example, and the
                final stage is reached. From here on, all that needs to be done is to send the prepared request to the
                endpoint address specified by the post method.
            </p>
            <h3>Endpoint</h3>
            <p>GET /api/external/SaveExternalOrder</p>
            <h3>Required Parameters</h3>
            <ul>
                <li> <code>x-api-key</code> - The API key for your account</li>
                <li> <code>x-api-secret</code> - The API Secret key for your account</li>
            </ul>
            <h3 id="responseTypes">Response Types</h3>
            <ul>
                <li> <code>Success (1)</code> - If the transaction was successful, the order has been transferred to the
                    file system. As a Response, the general information about the order, the ‘Status’ information
                    (returned as <span style="color: green; font-weight: bold;">1</span> in successful transactions) and
                    the date/time information when the order was saved in the Adisyo system are returned.</li>
                <li> <code>Fail (0)</code> - I f there is an error during the registration of the order, the transaction
                    is considered unsuccessful and no registration will fall into the file system. As a response, the
                    ‘Status’ information (returns <span style="color: red; font-weight: bold;"> 0</span> for failed
                    transactions), the description of the process that caused the error, returns ‘ErrorMessage’. </li>
            </ul>



            <h1 id='hemenYolda'>View Open Orders</h1>

            <blockquote>
                <p>Example Request </p>
            </blockquote>
            <pre class="highlight shell"><code>curl https://ext.adisyo.com/api/external/HemenYoldaOrders
            </code></pre>

            <blockquote>
                <p>Example Response</p>
            </blockquote>
            <pre class="highlight json "><code>
<span>{</span>
    <span>"<span class="span1">orders</span>": [</span>
    <span>{</span>
                <span>"<span class="span1">id</span>": <span class="spaninteger">66473932</span></span>,
                <span>"<span class="span1">waiterName</span>": "<span class="span3">hemenyolda</span>"</span>,
                <span>"<span class="span1">deliveryUserName</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">externalAppName</span>": "<span class="span3">Adisyo</span>"</span>,
                <span>"<span class="span1">restaurantName</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">orderTotal</span>": <span class="spaninteger">6</span></span>,
                <span>"<span class="span1">paymentMethodName</span>": "<span class="span3">SetCard</span>"</span>,
                <span>"<span class="span1">paymentMethodId</span>": <span class="spaninteger">5</span></span>,
                <span>"<span class="span1">deliveryTime</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">discountAmount</span>": <span class="spaninteger">0.00</span></span>,
                <span>"<span class="span1">currency</span>": "<span class="span3">TRY</span>"</span>,
                <span>"<span class="span1">orderNote</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">externalAppId</span>": <span class="spaninteger">null</span></span>,
                <span>"<span class="span1">statusId</span>": <span class="spaninteger">1</span></span>,
                <span>"<span class="span1">status</span>": "<span class="span3">Sipariş Alındı</span>"</span>,
                <span>"<span class="span1">orderCancelReason</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">tableName</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">orderNumber</span>": <span class="spaninteger">100</span></span>,
                <span>"<span class="span1">taxAmount</span>": <span class="spaninteger">0.44</span></span>,
                <span>"<span class="span1">insertDate</span>": "<span class="span3">2022-06-14T10:19:30.317</span>"</span>,
                <span>"<span class="span1">updateDate</span>": "<span class="span3">2022-06-14T10:19:30.317</span>"</span>,
                <span>"<span class="span1">customerId</span>": <span class="spaninteger">1767682</span></span>,
                <span>"<span class="span1">customerLatitude</span>": <span class="spaninteger">null</span></span>,
                <span>"<span class="span1">customerLongitude</span>": <span class="spaninteger">null</span></span>,
                <span>"<span class="span1">confirmationCode</span>": <span class="spaninteger">null</span></span>,
                <span>"<span class="span1">integrationRestaurantName</span>": <span class="span3">null</span></span>,
                <span>"<span class="span1">addressId</span>": <span class="spaninteger">1766443</span></span>,
                <span>"<span class="span1">customer</span>": {</span>
                    <span>"<span class="span1">customerName</span>": "<span class="span3">Baver Bölüm</span>"</span>,
                    <span>"<span class="span1">customerSurname</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">customerEmail</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">customerId</span>": "<span class="spaninteger">1767682</span>"</span>,
                    <span>"<span class="span1">customerPhone</span>": "<span class="span3">5453454545</span>"</span>,
                    <span>"<span class="span1">customerPhone2</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">address</span>": "<span class="span3">asd</span>"</span>,
                    <span>"<span class="span1">addressDescription</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">region</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">addressHeader</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">city</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">company</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">phoneCode</span>": <span class="span3">null</span></span>,
                    <span>"<span class="span1">addressId</span>": <span class="spaninteger">0</span></span>,
                    <span>"<span class="span1">isDefault</span>": <span class="span3">null</span></span>,
                </span>},</span>
                <span>"<span class="span1">products</span>": [</span>
                <span>{</span>
                    <span>"<span class="span1">id</span>": <span class="spaninteger">213829215</span>,
                    <span>"<span class="span1">orderId</span>": <span class="spaninteger">66473932</span>,
                    <span>"<span class="span1">quantity</span>": <span class="spaninteger">1.00</span>,
                    <span>"<span class="span1">unitPrice</span>": <span class="spaninteger">6.00</span>,
                    <span>"<span class="span1">productName</span>": "<span class="span3">Türk Kahvesi</span>",
                    <span>"<span class="span1">productNote</span>": <span class="spaninteger">66473932</span>,
                    <span>"<span class="span1">isMenu</span>": <span class="spaninteger">false</span>,
                    <span>"<span class="span1">parentId</span>": <span class="spaninteger">null</span>,
                    <span>"<span class="span1">cost</span>": <span class="spaninteger">0.0</span>,
                    <span>"<span class="span1">totalAmount</span>": <span class="spaninteger">6.00</span>,
                    <span>"<span class="span1">groupName</span>": <span class="spaninteger">null</span>,
                    <span>"<span class="span1">groupId</span>": <span class="spaninteger">0</span>,
                    <span>"<span class="span1">discountAmount</span>": <span class="spaninteger">0.00</span>,
                    <span>"<span class="span1">insertDate</span>": "<span class="span3">2022-06-14T10:19:30.333</span>",
                    <span>"<span class="span1">description</span>": <span class="span3">null</span>,
                    <span>"<span class="span1">cancelReason</span>": <span class="span3">null</span>,
                    <span>"<span class="span1">excludedComposites</span>": <span class="span3">null</span>,
                    <span>"<span class="span1">excludedItems</span>": <span class="span3">[]</span>,
                    <span>"<span class="span1">features</span>": <span class="span3">[</span>
                    <span>{</span>
                        <span>"<span class="span1">featureName</span>": "<span class="span3">Brownie</span>"</span>,
                        <span>"<span class="span1">AdditionalPrice</span>": <span class="spaninteger">4.00</span></span>,
                        <span>"<span class="span1">featureId</span>": <span class="spaninteger">2408384</span></span>,
                        <span>"<span class="span1">OrderDetailId</span>": <span class="spaninteger">53455</span></span>
                    <span>},</span>
                    <span>{</span>
                        <span>"<span class="span1">featureName</span>": "<span class="span3">Tiramisu</span>"</span>,
                        <span>"<span class="span1">AdditionalPrice</span>": <span class="spaninteger">4.00</span></span>,
                        <span>"<span class="span1">featureId</span>": <span class="spaninteger">2408376</span></span>,
                        <span>"<span class="span1">OrderDetailId</span>": <span class="spaninteger">53455</span></span>
                    <span>}</span>
                    <span><span class="span1"></span><span>],</span>
                </span>}</span>
            </span>],</span>
            <span>"<span class="span1">payments</span>": []</span>
         <span>}</span>
        <span>],</span>
        <span>"<span class="span1">result</span>": <span class="spaninteger">1</span></span>,
        <span>"<span class="span1">errorMessage</span>": <span class="span3">null</span></span>,
        <span>"<span class="span1">totalOrderCount</span>": <span class="spaninteger">1</span></span>,
        <span>"<span class="span1">pageCount</span>": <span class="spaninteger">1</span></span>
<span>}</span></code></pre>

            <p>The product list in the relevant restaurant's adisyo application is provided with x-api-key and
                x-api-secret information <span
                    style="color:green; font-weight:bold">’https://ext.adisyo.com/api/external/HemenYoldaOrders’</span>
                withdraw from the address. A request must be sent using the GET method.</p>


            <h3>Endpoint</h3>
            <p>GET /api/external/HemenYoldaOrders</p>
            <h3>Required Parameters</h3>
            <ul>
                <li> <code>x-api-key</code> - The API key for your account</li>
                <li> <code>x-api-secret</code> - The API Secret key for your account</li>
            </ul>
            <h3>Optional Parameters</h3>
            <ul>
                <li> <code>pageIndex</code> - When the number of orders is higher than 50, the data is paged. Data can
                    be accessed with Index. By default, it fetches the first page. To access other pages, you must fill
                    in this field.</li>
                <li> <code>minimumOrderId</code> - Returns orders with an order number greater than the minimumOrderId
                    variable.</li>
                <li> <code>updatedOrdersAfter</code> - It can be used to access updated orders. The update date fetches
                    orders that are after the date sent from this parameter. (Eg. yyyy-mm-dd hh:mm:ss - 2022-06-13
                    15:15:19)</li>
            </ul>

            <h3 id="responseTypes">Response Types</h3>
            <ul>
                <li> <code>Success (1)</code> - As a Response, the general information about the order, the ‘Result’
                    information (returns <span style="color: green; font-weight: bold;">1</span> for successful
                    transactions) and the current number of orders and the number of pages registered in the Adisyo
                    system are returned.</li>
                <li> <code>Fail (0)</code> - If the parameters are not sent in accordance with the format, the ‘Result’
                    information is returned as a response (returns <span style="color: red; font-weight: bold;">
                        0</span> for failed operations) and the ‘ErrorMessage’ that caused the error is returned. </li>
            </ul>

        </div>
        <div class="shell-box">
            <div class="shell">
                <a href="#" data-language-name="Shell">Shell (cmd)</a>
            </div>
        </div>
    </div>
</body>

</html>