---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <!--Fazla Gıda Kampanyası-->
        <div id="fazla-gida" class="row service_details mb_50">

            <div class="col-lg-7 col-sm-6 d-flex align-items-center">
                <div class="service_details wow fadeInUp">
                    <h4 class="f_600 f_size_22 f_p t_color"><b>Gelişmiş Entegrasyonlar Ve Kurye Takibi</b></h4><br>
                    <ul class="list-unstyled mb-30">
                        <li>
                            <i class="ti-check"></i> Adisyo, her türden işletmenin paket servis süreçlerini kolay ve kusursuz bir şekilde yönetebilecekleri entegrasyonlar sunar.
                        </li>

                        <li>
                            <i class="ti-check"></i> Adisyo’nun kusursuz çalışan entegrasyon hizmetleriyle hem zamandan hem de maliyetten tasarruf edin, tüm siparişlerinizi tek bir noktadan yönetin
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo’nun geniş entegrasyon seçenekleri sayesinde <b>Yemek Sepeti, Getir, Trendyol</b> ve daha birçok platformlardan gelen tüm paket siparişlerinizi POS sisteminiz üzerinden yönetebilirsiniz.
                        </li>
                        <li>
                            <i class="ti-check"></i> Müşteri tanıma sistemi sayesinde arayan müşterilerin adres, telefon, daha önceki siparişleri, bakiye bilgilerini görebilir, hizmet kalitesi ve müşteri memnuniyetini arttırabilirsiniz.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kuryeleriniz için özel geliştirilmiş mobil uygulamamız ile ister siparişleri kolayca kuryelere atayabilirsiniz, ister kuryeler sipariş havuzundan kendileri seçebilir.

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <div class="service_details">
                    <img src="/assets/img/home/campains/paket-kurye02.png" alt="BizimHesapKampanya">
                </div>
            </div>
        </div>    
    </div>
</section>