---
layout: wrapper
---
<!--slider-->
<section class="agency_banner_area">
    <img class="banner_shap" src="/assets/img/home/banner_bg.png" alt="">
    <div class="container custom_container">
        <div class="row mt_30">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="agency_content">
                    <h2 class="f_400 t_color3 wow fadeInLeft" data-wow-delay="0.7s">Hızlı ve Kurulum
                        Gerektirmeyen</h2>
                    <h2 class="f_600 t_color3 wow fadeInLeft" data-wow-delay="0.7s">POS Sistemi</h2>
                    <p class="f_400 f_size_16 mt_30 mb-30 wow fadeInLeft" data-wow-delay="1s">
                        Adisyo, kafe restoran operasyonlarınızı herhangi bir cihaz üzerinden yönetebileceğiniz <b>düşük
                            maliyetli</b>, basit ve kullanımı kolay bulut tabanlı pos sistemidir. Eğitim ve kurulum
                        gerektirmeden üye olur, ürünlerinizi tanımlar ve dakikalar içinde sipariş almaya
                        başlarsınız.<br>
                        <b>Üstelik ilk 15 gün ücretsiz</b>
                    </p>
                    <div class="action_btn align-items-center mt_30">
                        <a href="#" class="modal-toggle slider_btn_tr wow fadeInLeft mr_10" data-openpopup="signuplogin"
                            data-popup="call" data-wow-delay="1s"> <i class="ti ti-headphone-alt top-ico-fix"></i> Sizi
                            Arayalım!
                        </a>
                        <a href="http://pos.adisyo.com/#/signup" target="_blank"
                            class="slider_btn white_btn wow fadeInLeft" data-wow-delay="1s">15 Gün Ücretsiz
                            Dene</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <div class="slider_img">
                    <img class="app_screen mb_20 two wow fadeInDown animated" src="/assets/img/home/ipad-adisyo3.png"
                        alt="adisyo-banner" style="visibility: visible; animation-name: animateUpDown;">
                </div>
            </div>
        </div>
    </div>
</section>

<!--partners logo-->

<div class="partner_logo_area_four">
    <h4 class="f_size_32 f_600 t_color3 l_height30 mb_20 text-center mt_60 wow fadeInDown"
                data-wow-delay="0.3s">Adisyo Tercih Eden Tüm Markalarımıza Sonsuz Teşekkürler, Birlikte Daha Güçlüyüz!</h4>
        <div class="agency_testimonial_info">
    <div class="agency_testimonial_info">
        <div class="app_testimonial_slider owl-carousel">
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/tomato-yeni.png" alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.9s">
                <a href="#"><img src="/assets/img/home/logos/tp-yeni.png" alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/kingof-yeni.png" alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/hizli.png" alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/gurme-yeni.png" alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/moston-yeni.png" alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/cajun-yeni.png"  alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/sahangillerkokorec.png"  alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/city-yeni.png"  alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/nesveyeni.png"  alt="wineport"></a>
            </div>
            <div class="logo_item wow fadeInLeft" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/home/logos/quick-yeni.png"  alt="wineport"></a>
            </div>
        </div>
    </div>
</div>



<section class="agency_testimonial_area bg_color_lg sec_pad">
    <div class="container">
        <h2 class="f_size_34 f_600 t_color3 l_height30 mb_20 text-center mt_60 wow fadeInDown" data-wow-delay="0.3s">
            Peki Adisyo Neden Bu Sektörde Fark Yaratıyor?</h2><br>
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 mb-xl-0">
                <div class="compare_item adisyo">
                    <span class="compare_icon"> <i class="ti-check"></i> </span>

                    <img src="/assets/img/logo.png" alt="">

                    <ul class="list-unstyled p_list">
                        <li> Yıllık 839₺</li>
                        <li> Yatırım maliyeti ve kurulum gerekmez</li>
                        <li> Server bakım maliyeti, gibi sürpriz ödemeler yok</li>
                        <li> Bulut teknolojisi ile verileriniz yedekli ve erişilebilir</li>
                        <li> Tüm cihazlarda (PC, Laptop, Tablet, Cep Telefonu) çalışır</li>
                        <li> İşletmenizi uzaktan kolayca yönetebilirsiniz</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="compare_item other">
                    <span class="compare_icon"> <i class="ti-close"></i> </span>

                    <h3 class="f_600">DİĞERLERİ</h3>

                    <ul class="list-unstyled p_list">
                        <li> Diğerleri ....</li>
                        <li> Yatırım maliyetleri ... ₺'den başlıyor</li>
                        <li> ... ₺'ye varan ek maliyetler var</li>
                        <li> Verileriniz yerel bilgisayarlarda kaydedilir ve yedeklenmez</li>
                        <li> Sadece belli cihazlarda çalışır</li>
                        <li> Sadece işletme içinde kullanılabilir</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="text-center">
                    <a class="properties_btn_tr mt_40 mb_40" target="blank" href="https://pos.adisyo.com/#/signup">Hemen
                        Başla</a>
                </div>
            </div>
        </div>
    </div>
</section>



<!--adisyo properties-->
<section class="prototype_service_area_three bg_color_white">
    <div class="container">
        <div class="prototype_service_info">
            <div class="symbols-pulse active">
                <div class="pulse-1"></div>
                <div class="pulse-2"></div>
                <div class="pulse-3"></div>
                <div class="pulse-4"></div>
                <div class="pulse-x"></div>
            </div>
            <h2 class="f_size_34 f_600 t_color3 l_height30 mb_20 text-center mt_60 wow fadeInDown"
                data-wow-delay="0.3s">Adisyo'nun Benzersiz Özellikleri ile Tanışın</h2>
            <p class="f_400 f_size_16 l_height30 text-center mb_90 wow wow fadeInDown" data-wow-delay="0.8s">Basit ve
                kullanımı kolay arayüzü ile ihtiyacınız olan tüm özellikler bir arada</p>
            <div class="row p_service_info">
                {% for feature in site.data.home_features %}
                <div class="col-lg-4 col-sm-4">
                    <div class="p_service_item pr_35 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="icon {{feature.color}}"><i class="{{feature.icon}}"></i></div>
                        <h5 class="f_600 f_p t_color3">{{feature.title}}</h5>
                        <p class="f_400">
                            {{feature.description}}
                        </p>
                        <!--<div class="text-center mt_10"><a href="{{feature.url}}" class="learn_btn_two">Keşfet <i class="ti-arrow-right"></i></a></div>-->
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

</section>
<div class="text-center">
    <a class="properties_btn_tr mt_40 mb_40" href="/ozellikler">Tüm Özellikler</a>
</div>

<!--pricing-->
<section class="pricing_area bg_color sec_pad">
    <div class="container">
        <div class="sec_title text-center ">
            <h2 class="f_p f_size_34 l_height30 f_600 t_color2">Paket Fiyatlarımız</h2>
            <p style="margin-top: 23px;" class="f_400 f_size_16 l_height30 mb_40"><span
                    style="font-size: 17px;">Dilediğiniz kadar kullanıcı ekleyin. <b>Ekstra bir ücret
                        ödemeyin.</b></span>
            </p>
        </div>
        <div class="tab-content price_content" id="myTabContent">
            <div class="tab-pane fade show active">
                <!--monthly price-->
                <div class="row" id="home_page_packages">
                    <!-- price.js: content fill -->
                </div>
                <div class="text-center mt_20 mb_0">
                    <a class="properties_btn_tr" href="/fiyatlar">Tüm Fiyatlarımız</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--client testimonial-->
<section class="agency_testimonial_area bg_color_lg sec_pad">
    <div class="container" style="margin-top: 70px !important;">
        <h4 class="f_size_32 f_600 t_color3 l_height30 mb_20 text-center mt_60 wow fadeInDown"
                data-wow-delay="0.3s">Adisyo Tercih Eden Tüm Markalarımıza Sonsuz Teşekkürler, Birlikte Daha Güçlüyüz!</h4>
        <div class="agency_testimonial_info">
            <div class="testimonial_slider owl-carousel">
                {% assign comments=site.data.client_testimonial | sort: "id" | reverse %} {% for item in comments %}
                <div class="testimonial_item text-center center">
                    <div class="author_img"><img src="{{item.logo}}" alt=""></div>
                    <div class="author_description">
                        <h4 class="f_500 t_color3 f_size_18">{{item.company_name}}</h4>
                        <h6>{{item.owner}}</h6>
                    </div>
                    <p>
                        {{item.comment}}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!--mobile banner-->
<section class="get_started_area">
    <div class="shap one"></div>
    <div class="shap two"></div>
    <div class="shap one three"></div>
    <div class="shap two four"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex align-items-center">
                <div class="get_content">
                    <h3 class="f_400 f_p wow fadeInLeft" data-wow-delay="0.2s">Hemen İndirin</h3>
                    <h2 class="f_600 f_p f_size_34 l_height50 mb_20 wow fadeInLeft" data-wow-delay="0.3s">
                        Mobil uygulamalarımızı denediniz mi?</h2>
                    <p class="f_400 f_size_16 mb_40 wow fadeInLeft" data-wow-delay="0.4s">
                        Google Play ve App Store üzerinden mobil uygulamalarımızı indirebilirsiniz. Adisyo ile tablet
                        veya akıllı telefonlarınız ile de siparişlerinizi kolayca girip ödeme alabilir, mutfağınızı
                        yönetebilirsiniz.
                        <b>Minimum sistem gereksimi: Android 5.0 ve iOS 9.0 üzeridir.</b>
                    </p>
                    <a href="{{site.store_google}}" target="_blank" class="app_btn app_btn_two ml-0 wow fadeInLeft"
                        data-wow-delay="0.5s"><i class="fab fa-google-play"></i>Google Play</a>
                    <a href="{{site.store_ios}}" target="_blank" class="app_btn app_btn_two wow fadeInLeft"
                        data-wow-delay="0.6s"><i class="fab fa-apple"></i>App Store</a>
                    <!-- 
                        <a href="{{site.store_windows}}" target="_blank" class="app_btn app_btn_two wow fadeInLeft"
                        data-wow-delay="0.7s"><i class="fab fa-windows"></i>Windows Setup</a>  
                    -->
                </div>
            </div>
            <div class="col-lg-4 text-right wow fadeInRight" data-wow-delay="0.7s">
                <img class="app_mobile_img" src="/assets/img/home/iPhoneX3.png" alt="">
            </div>
        </div>
    </div>
</section>



