---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <!--Fazla Gıda Kampanyası-->
        <div id="fazla-gida" class="row service_details mb_50">

            <div class="col-lg-7 col-sm-6 d-flex align-items-center">
                <div class="service_details wow fadeInUp">
                    <h4 class="f_600 f_size_22 f_p t_color"><b>Adisyo Merkezi Yönetim Modülü</b></h4><br>
                    <ul class="list-unstyled mb-30">
                        <li>
                            <i class="ti-check"></i> Adisyo, merkezi yönetim modülü ile işletmenizin bütün şubelerini tek merkezden yönetebilir, raporlayabilir ve sorunları en aza indirerek verimliliği maksimuma çıkarabilirsiniz. 

                        </li>

                        <li>
                            <i class="ti-check"></i> Zincir işletmelerde en büyük sorunlardan biri şubelerde yapılmak istenen değişikliklerin her şube için tek tek yapılması gerekliliğidir.
                            Adisyo ile şubelerinize ürün eklemek, çıkarmak veya fiyat değişimi gibi işlemleri kolayca tek bir noktadan yönetebilirsiniz.                            
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo’nun geniş entegrasyon seçenekleri sayesinde <b>Yemek Sepeti, Getir, Trendyol</b> ve daha birçok platformlardan gelen tüm paket siparişlerinizi POS sisteminiz üzerinden yönetebilirsiniz.
                        </li>
                        <li>
                            <i class="ti-check"></i> Şubelerinizin genel durumları, masa doluluk oranları, günlük sipariş sayısı ve daha birçok veriyi anlık takip edebilir, merkez ile şube arasındaki ürün transferini eksiksiz yönetebilirsiniz.
                        </li>
                        <li>
                            <i class="ti-check"></i> Adisyo patron mobil uygulaması ile tüm şubeleriniz anlık, gerçek zamanlı cebinizde!

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <div class="service_details">
                    <img src="/assets/img/home/campains/coklu-sube-yonemi02.png" alt="BizimHesapKampanya">
                </div>
            </div>
        </div>    
    </div>
</section>