---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--pricing-->

<section class="pricing_area bg_color sec_pad">
    <div class="container custom_container">
        <div class="sec_title text-center mb_40">
            <h2 class="f_p f_size_34 l_height30 f_600 t_color2">Devir Ekonomi Devri</h2>
            <p class="f_400 f_size_16 l_height30">Dilediğiniz kadar kullanıcı ekleyin. Ekstra bir ücret ödemeyin.
                <b>Fiyatlarımıza KDV dahil değildir.</b></p>
        </div>
        
        <div class="tab-content price_content" id="myTabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                <!--monthly price-->
                <div class="row">
                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item select-price">
                            <div class="tag"><span>Popüler</span></div>
                            <img src="/assets/img/home/price/price-4.png" alt="">
                            <h5 class="f_p f_size_26 f_500 t_color2 mb_10">12 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">56,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / AY</sub></div>
                            <div class="border-price">
                                <p class="price-discount">% 25 İndirimli</p>
                                <p>Toplam : 677,00  ₺ + KDV</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank"
                            class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/price/price-3.png" alt="">
                            <h5 class="f_p f_size_26 f_500 t_color2 mb_10">6 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">66,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / AY</sub></div>
                            <div class="border-price">
                                <p class="price-discount">% 10 İndirimli</p>
                                <p>Toplam : 399,00 ₺ + KDV</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank"
                                class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/price/price-2.png" alt="">
                            <h5 class="f_p f_size_26 f_500 t_color2 mb_10">3 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">69,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / AY</sub></div>
                            <div class="border-price">
                                <p class="price-discount">% 5 İndirimli</p>
                                <p>Toplam : 209,00 ₺ + KDV </p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank"
                                class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>


                    <div class="col-lg-3 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/price/price-1.png" alt="">
                            <h5 class="f_p f_size_26 f_500 t_color2 mb_10">1 Aylık</h5>
                            <div class="f_p f_size_38 f_600 t_color2 mt_10 mb_10">74,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / AY</sub></div>
                            <div class="border-price">
                                <p class="price-discount">15 Gün Ücretsiz</p>
                                <p>Denemesi Bedava</p>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li> Sınırsız Kullanıcı</li>
                                <li> Kurulum Ücreti Yok</li>
                                <li> Bakım Ücreti Yok</li>
                                <li> Güncelleme Ücreti Yok</li>
                                <li> Lisans Ücreti Yok</li>
                            </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank"
                                class="price_btn btn_hover">Ücretsiz Dene</a>
                                <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--integration-prices-->

<section id="integratin-prices" class="pricing_area bg_color sec_pad">
    <div class="container custom_container">
        <div class="sec_title text-center mb_40">
            <h2 class="f_p f_size_34 l_height30 f_600 t_color2">Devir Ekonomi Devri</h2>
            <p class="f_400 f_size_16 l_height30 mb_40">Yıllık paket satın alımlarına özel, <b>+2 ay bedeva
                Fiyatlarımıza KDV dahil değildir.</b> 
        </div>
        
        <div class="tab-content price_content" id="myTabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                <!--monthly price-->
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-6 pb_15">
                          <div class="price_item select-price">
                            <div class="tag"><span>Popüler</span></div>
                            <img style="border-radius: 100%;" src="/assets/img/home/integration-price-images/integration-3.png" alt="">
                            <div class="f_p f_size_30 f_600 t_color2 mb_10 border-price">44,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / Ay</sub></div>
                            <div class="f_p f_size_30 f_600 t_color2 mb_10 border-price">440,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / Yıl</sub></div>
                                    <div class="border-price">
                                        <p>Paket Entegrasyonu <b>3 ve daha fazla</b></p>
                                    </div>
                                    <ul class="list-unstyled p_list">
                                        <li> Getir Yemek</li>
                                        <li> Yemek Sepeti</li>
                                        <li> Trendyol Yemek</li>
                                        <li> Paket Servisi</li>
                                        <li> Restajet</li>
                                    </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank" class="price_btn btn_hover">
                                15 Gün Ücretsiz Dene</a>
                            <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/integration-price-images/integration-3.png" alt="">
                            <div class="f_p f_size_30 f_600 t_color2 mb_10 border-price">19,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / Ay</sub></div>
                            <div class="f_p f_size_30 f_600 t_color2 mb_10 border-price">190,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / Yıl</sub></div>
                                    <div class="border-price">
                                        <p>Paket Entegrasyonu <b>1 adet</b></p>
                                    </div>
                                    <ul class="list-unstyled p_list">
                                        <li> Getir Yemek</li>
                                        <li> Yemek Sepeti</li>
                                        <li> Trendyol Yemek</li>
                                        <li> Paket Servisi</li>
                                        <li> Restajet</li>
                                    </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank" class="price_btn btn_hover">
                                15 Gün Ücretsiz Dene</a>
                            <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-12 col-md-6 pb_15">
                        <div class="price_item small-item">
                            <img src="/assets/img/home/integration-price-images/integration-2.png" alt="">
                            <div class="f_p f_size_30 f_600 t_color2 mb_10 border-price">39,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / Ay</sub></div>
                            <div class="f_p f_size_30 f_600 t_color2 mb_10 border-price">390,00 ₺<sub
                                    class="f_size_16 f_400">+ KDV / Yıl</sub></div>
                                    <div class="border-price">
                                        <p>Sipariş Entegrasyonu <b>1 adet</b></p>
                                    </div>
                                    <ul class="list-unstyled p_list">
                                        <li> Hotelier 101</li>
                                        <li> Hemen Yolda</li>
                                        <li> HMS Hotel</li>
                                    </ul>
                            <a href="http://pos.adisyo.com/#/signup" target="_blank" class="price_btn btn_hover">
                                15 Gün Ücretsiz Dene</a>
                            <p class="f-p-y">* Kredi Kartı Gerekmez. KDV Dahil Değildir.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>