---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--pricing-->

<section class="pricing_area bg_color sec_pad">
    <div class="container custom_container price_container">
        <div class="sec_title text-center mb_40">
            <h2 class="f_p f_size_34 l_height30 f_600 t_color2">Paketini Seç, Hemen Başla</h2>
            <p style="margin-top: 23px;" class="f_400 f_size_16 l_height30"><span style="font-size: 17px;">Dilediğiniz
                    kadar kullanıcı ekleyin. <b>Ekstra bir ücret ödemeyin.</b></span>
            </p>
        </div>

        <div class="tab-content price_content" id="myTabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                <!--monthly price-->
                <div class="row" id="price_page_packages">
                    <!-- price.js: content fill -->
                </div>
            </div>
        </div>
    </div>
</section>