---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <!--Fazla Gıda Kampanyası-->
        <div id="fazla-gida" class="row service_details mb_50">

            <div class="col-lg-7 col-sm-6 d-flex align-items-center">
                <div class="service_details wow fadeInUp">
                    <h4 class="f_600 f_size_22 f_p t_color"><b>Adisyo Temassız Sipariş Sistemi</b></h4><br>
                    <ul class="list-unstyled mb-30">
                        <li>
                            <i class="ti-check"></i> Adisyo dijital menü ile hizmet kalitenizi geliştirin, müşterilerinizi memnun ederek, gelirinizi arttırın.
                        </li>

                        <li>
                            <i class="ti-check"></i> Adisyo ile klasik kâğıt menülerdeki baskı maliyetlerini unutun. İhtiyacınız olduğunda yönetim panelinden birkaç dakikada ürünlerinizi dilediğiniz gibi düzenleyebilirsiniz. Böylece maliyetten ve zamandan tasarruf sağlarsınız..
                        </li>
                        <li>
                            <i class="ti-check"></i> Müşterileriniz masadaki QR kodu, telefonlarına okutarak ürünlerinize erişir ve hiçbir fiziksel temasa gerek kalmadan kolaylıkla siparişlerini verir.
                        </li>
                        <li>
                            <i class="ti-check"></i> QR menü, ürünlerinizi düzenli, anlaşılır ve etkileyici şekilde müşterilerinize sunmanıza yardımcı olur.
                        </li>
                        <li>
                            <i class="ti-check"></i> Kalitenizi geliştirin, müşterilerinizi memnun ederek, gelirinizi arttırın.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <div class="service_details">
                    <img src="/assets/img/home/campains/dijital.png" alt="">
                </div>
            </div>
        </div>    
    </div>
</section>