---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<!--Page Content-->
<section class="saas_service_area sec_pad">
    <div class="container">

        <div class="row saas_service_item mb_50">

            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/tp-yeni.png" alt="">
                    <p class="f_p f_400">
                        2021 Yılı ile Adisyo bünyesine katılan Terra Pizza, 121 şubesi ile devam etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/gurme-yeni.png" alt="">
                    <p class="f_p f_400">
                        2022 Yılı ile Adisyo bünyesine katılan Gurme Mutfak, 21 şubesi ile devam etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/hizli.png" alt="">
                    <p class="f_p f_400">
                        2022 Yılı ile Adisyo bünyesine katılan Hızlı Burger, 10 şubesi ile devam etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/tomato-yeni.png" alt="">
                    <p class="f_p f_400">2019 Yılı ile Adisyo bünyesine katılan Pizza Tomato, 36 şubesi devam
                        etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/kingof-yeni.png" alt="">
                    <p class="f_p f_400">2020 Yılı ile Adisyo bünyesine katılan KingofPizzarella, 7 şubesi devam
                        etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/moston-yeni.png" alt="">
                    <p class="f_p f_400">  2020 Yılı ile Adisyo bünyesine katılan Moston Ev Yemekleri, 2 şubesi ile devam etmektedir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                <div class="saas_service_content wow fadeInUp">
                    <img src="/assets/img/home/logos/sahangiller-yeni.png" alt="">
                    <p class="f_p f_400">2019 Yılı ile Adisyo bünyesine katılan Şahangiller Kokoreç, 2 şubesi ile devam etmektedir.</p>
                </div>
            </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/cajun-yeni.png" alt="">
                        <p class="f_p f_400">2020 Yılı ile Adisyo bünyesine katılan Cajun Corner, 14 şubesi ile devam etmektedir.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/city-yeni.png" alt="">
                        <p class="f_p f_400">
                            2018 Yılı ile Adisyo bünyesine katılan City Sushi & Wok, 4 şubesi ile devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/nesveyeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan Neşve, 7 şubesi ile devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/quick-yeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan Qucik Pizza, 6 şubesi ile devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/poadas-yeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan Poadas, Adisyo ile yoluna devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/burger-attack-yeni.png" alt="">
                        <p class="f_p f_400">
                            2021 Yılı ile Adisyo bünyesine katılan Burger Attack, 2 şubesi ile devam etmektedir.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/fakülte.png" alt="">
                        <p class="f_p f_400">
                            2018 Yılı ile Adisyo bünyesine katılan Tavuk Fakültesi, 6 şubesi ile devam etmektedir.
                        </p>
                    </div>
                </div> -->
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/barbacoa-yeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan Barbacoa, Adisyo ile yoluna devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/handson-yeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan HandsOn, Adisyo ile yoluna devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/xunta-yeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan Xunta, Adisyo ile yoluna devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/mantimia-yeni.png" alt="">
                        <p class="f_p f_400">
                            2020 Yılı ile Adisyo bünyesine katılan Mantimia, Adisyo ile yoluna devam etmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  d-flex align-items-center">
                    <div class="saas_service_content wow fadeInUp">
                        <img src="/assets/img/home/logos/pizzadunyasi-yeni.png" alt="">
                        <p class="f_p f_400">
                            2019 Yılı ile Adisyo bünyesine katılan Pizza Dünyası, 4 şubesi ile devam etmektedir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>